.about {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pb-mobile);

  &__container {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  &__item {
    margin-top: 30px;
  }
  &__box {
    max-width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: var(--bg-accent-color);
    border-radius: 4px;
  }
  &__title {
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
    text-align: center;
  }
  &__description {
    @include font(400, 14px, 24px, 0.03em);
    color: var(--text-color);
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: var(--section-pt-tablet);
    padding-bottom: var(--section-pb-tablet);

    &__list {
      margin-left: -30px;
    }
    &__item {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    &__box {
      max-width: 354px;
    }
    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);

    &__list {
      margin-left: -30px;
      margin-top: -30px;
    }
    &__item {
      flex-basis: calc(100% / 4 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
    &__box {
      max-width: 270px;
    }
  }
}
