.team {
  padding-top: var(--section-pt-mobile);
  padding-bottom: var(--section-pb-mobile);
  background-color: var(--bg-accent-color);
  max-width: 480px;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
  }
  &__item {
    margin-top: 30px;
  }
  &__img {
    max-width: 100%;
  }
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px 24px 15px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__title {
    @include font(500, 16px, 19px, 0.03em);
    text-align: center;
    color: var(--main-color);
    margin-bottom: 10px;
  }
  &__description {
    @include font(400, 16px, 19px, 0.03em);
    text-align: center;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    max-width: 768px;
    padding-top: var(--section-pt-tablet);
    padding-bottom: var(--section-pb-tablet);

    &__list {
      margin-left: -30px;
    }
    &__item {
      flex-basis: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
    &__box {
      padding: 30px 15px 24px 15px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
    padding-top: var(--section-pt-desktop);
    padding-bottom: var(--section-pb-desktop);

    &__item {
      flex-basis: calc(100% / 4 - 30px);
    }
    &__box {
      padding: 30px 15px;
    }
  }
}
