:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --text-color: #757575;
  --logo-color: #000000;
  --bg-main-color: #2f303a;
  --bg-accent-color: #f5f4fa;
  --bg-button-color: #188ce8;
  --icon-color: #afb1b8;
  --section-pt: 94px;
  --section-pb: 94px;
  --pt: 15px;
  --pb: 15px;
}
